-# coding: utf-8
%div.outter_container
  %div.page_path
    %p 首页 > 自由行
  %div.products
    - @self_tour_data["products"].each_with_index do |data, index|
      %div{class: "product_card card_#{index}"}
        %div.border_space
          %div.img_wrap
            %img.product_cover{src: ""}
          %div.description_wrap
            %h3.desc_title
              = data["title"]
            %p.desc_content
              = data["desc"]
          %div.bottom_wrap
            %div.price_wrap
              %p.price
                = data["price"]
            %div.more_button_wrap
              %button.get_more_btn 了解更多
