// self tour page style
$outter-width: 1024px
$min-gap: 2px
div.outter_container
  width: $outter-width
  height: 100%
  margin: 0 auto
  +row()
  +FF-center-sb()
div.products
  margin: 0 auto
  +row()
  +FF-center-sb
div.product_card
  width: $self-width
  height: $self-height
  border: 1px solid #efefef
  flex: 0 0 auto
  margin-bottom: 5px
  & > div.border_space
    height: 94%
    margin: $gap
    +column()
    +FF-center-sb()
    & > div
      width: 100%
      &.img_wrap
        flex: 4 0 auto
      &.description_wrap
        flex: 1 0 auto
        border-top: 1px solid #eaeaea
      &.bottom_wrap
        flex: 0 0 auto
        height: 40px
        & > div.price_wrap
          width: 60px
          height: 20px
          color: #71c359
          text-align: center
          line-height: 20px
          border: 1px solid #eaeaea

      $start: 1
      $end: 3
      @for $ii from $start through $end
        &:nth-child(#{$ii})
          @if $ii < 3
            +column()
            +FF-start-sa()
          @else
            +row()
            +FF-center-sb()
