$corpName: CYQC
$self-width: 249.5px
$self-height: 320px
$limit-width: 950px
$gap: 10px
$divider-thick: 1px
/** COLOR */
$primary: #4a979c
$purple: #f067ab
$yellowOrange: #f89f64
$text-gray: #707070
$text-dark: #555555
$text-light-gray: #b7b7b7
$divider-color: #ebebeb
$button-gradient: #f89f63 #f068ab
%title-divider
  margin: 0 ($gap / 2)
  display: inline-block
  width: 1px
  background: $text-dark
