.#{$corpName}-search-in-shop
  width: 350px
  height: 38px
  position: relative
  top: -140px
  left: 320px
  .#{$corpName}-search-field
    width: 100%
    height: 38px
    border: 2px solid rgba(0,255,255,.4)
    padding: 4px
    +border-radius(15px)
    color: $text-light-gray
    font:
      size: 18px
      weight: lighter
.#{$corpName}-search-btn-wrap
  width: auto
  height: 38px
  float: right
  position: relative
  top: -32px
  left: -15px
  display: inline-block
.#{$corpName}-search-icon,
##{$corpName}-submit-btn
  display: inline-block
  cursor: pointer
##{$corpName}-submit-btn
  /** search icon size */
  display: none
