<div class="J_TWidget" data-widget-config="{'effect': 'fade', 'circular': true ,'contentCls':'piao143514213557'}" data-widget-type="Tabs" style="height:600px;overflow:hidden;">
  <div class="piao143514213557" style="height:600px;">
    <div class="footer-more-trigger" style="width:1920px;height:600px;top:auto;padding:0px;border:none;left:50%;">
      <div class="footer-more-trigger" style="width:1920px;height:600px;padding:0px;border:none;left:-50%;">
        <div class="J_TWidget" data-widget-config="{'effect':'scrollx','easing':'elasticOut','autoplay':true,'prevBtnCls':'pre140514213557trigger','nextBtnCls':'next140514213557trigger','contentCls': 'carousel20140514213557content','navCls': 'carousel20140514213557trigger','duration':0.5,'activeTriggerCls':'hidden'}" data-widget-type="Carousel">
          <div class="tincal20140514213557trigger" style="width:1920px;height:600px;overflow:hidden;">
            <ul class="carousel20140514213557content">
              <li>
                <span>
                  <span>
                    <a data-attr-replace="[{'type':'href','desc':'http://tincal.taobao.com'}]" href="http://item.taobao.com/item.htm?id=38871042880&amp;scene=taobao_shop" target="_blank">
                      <img border="0" data-attr-replace="[{'type':'img','desc'}]" height="600" src="http://img03.taobaocdn.com/imgextra/i3/685735257/T2PA.3XNXXXXXXXXXX_!!685735257.jpg" width="1920" />
                    </a>
                  </span>
                </span>
              </li>
              <li>
                <span>
                  <span>
                    <a data-attr-replace="[{'type':'href','desc':'http://tincal.taobao.com'}]" href="http://item.taobao.com/item.htm?id=38867179720&amp;scene=taobao_shop" target="_blank">
                      <img border="0" data-attr-replace="[{'type':'img','desc'}]" height="600" src="http://img02.taobaocdn.com/imgextra/i2/685735257/T2mKA6XLpXXXXXXXXX_!!685735257.jpg" width="1920" />
                    </a>
                  </span>
                </span>
              </li>
              <li>
                <span>
                  <span>
                    <a data-attr-replace="[{'type':'href','desc':'http://tincal.taobao.com'}]" href="http://item.taobao.com/item.htm?id=38894185296&amp;scene=taobao_shop" target="_blank">
                      <img border="0" data-attr-replace="[{'type':'img','desc'}]" height="600" src="http://img02.taobaocdn.com/imgextra/i2/685735257/T2isA5XR0XXXXXXXXX_!!685735257.jpg" width="1920" />
                    </a>
                  </span>
                </span>
              </li>
            </ul>
          </div>
          <ul class="carousel20140514213557trigger footer-more-trigger" style="border-right:0px;padding-right:0px;border-top:0px;padding-left:0px;z-index:99;background:url() no-repeat 0px 0px;left:930px;padding-bottom:0px;border-left:0px;width:70px;text-indent:0px;line-height:11px;padding-top:0px;border-bottom:0px;top:562px;height:11px;">
            <li class="hidden" style="display:inline;float:left;cursor:pointer;">
              <div style="background:url() no-repeat 0px -11px;width:11px;height:11px;">
                &nbsp;
              </div>
            </li>
            <li style="display:inline;float:left;margin-left:15px;cursor:pointer;">
              <div style="background:url() no-repeat -26px -11px;width:11px;height:11px;">
                &nbsp;
              </div>
            </li>
            <li style="display:inline;float:left;margin-left:15px;cursor:pointer;">
              <div style="background:url() no-repeat -52px -11px;width:11px;height:11px;">
                &nbsp;
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
