%div{class: "J_TWidget section",  "data-widget-type": "Tabs",  "data-widget-config": "{'effect': 'fade','autoplay': true,'circular': true}"
  -# Navigation
  %ul{class: "ks-switchable-nav"}
    -# use data base contents
    %li{class: "ks-active"}
  -# actual contents
  %div{class: "ks-switchable-content"}
    -# all child are invisible by default except first one
    %div{style: "display: none;"}
