@import ../common
$limit-small-width: 748px
.#{$corpName}-sell-outter-wrap
  width: $limit-width
  margin: 0 auto
  height: 100%
  & > div
    display: inline-block
    vertical-align: top
.#{$corpName}-sell-aside-container
  width: 197px
  height: 400px
/** BERFORE ARE DEV ONLY */
.title-cn, .title-en
  font-size: 18px

.#{$corpName}-warn-small,
.#{$corpName}-warn
  font:
    weight: 200
.#{$corpName}-warn-small
  margin: 5px 0
  color: orange !important
  list-style: none
  font:
    size: 14px !important
  border-left: 2px solid orange
  padding-left: $gap
.#{$corpName}-warn
  padding: 0 40px
  letter-spacing: 2px
  text-align: center
  margin-bottom: 40px
  border-top: $divider-thick dashed orange
  border-bottom: $divider-thick dashed orange
  & > p
    font:
      size: 14px
    line-height: 28px
    color: $text-gray
    margin-bottom: 5px
.tmp-background
  width: 748px
  height: 200px
  background: $primary
.#{$corpName}-sell-contents-container
  width: $limit-small-width
  height: 100%
  border-left: $divider-thick solid $divider-color
  border-right: $divider-thick solid $divider-color
  ul
    list-style: url('../assets/dot.png')
    list-style-position: inside
  & > div
    margin-bottom: $gap * 12
  & > .#{$corpName}-sell-header-container
    width: 100%
    height: 100px
    & > .#{$corpName}-sell-header-background
      float: right
    & > .#{$corpName}-sell-header-text-has-background
      float: right
      letter-spacing: 2px
      position: relative
      left: 90px
      color: white
      font:
        weight: 500
        size: 24px
.#{$corpName}-sell-bundle-info-container
  & > div
    display: inline-block
    width: 49.7%
    height: 100%
    vertical-align: top
    padding: 0 40px
  & > .#{$corpName}-sell-bundle-Include-container
    border-right: $divider-thick solid $divider-color
  & > .#{$corpName}-sell-bundle-Exclude-container
    & > .#{$corpName}-sell-title-wrap
      margin-top: 40px
.#{$corpName}-sell-title-text-position
  position: relative
  top: -10px
  left: -70px
  display: inline-block
.#{$corpName}-sell-title-wrap
  margin-bottom: $gap * 2
  .#{$corpName}-title-divider
    @extend %title-divider
    height: 20px
  .#{$corpName}-sell-title-text
    color: $text-dark
    letter-spacing: 2px
    font:
      size: 16px
      weight: 500
.#{$corpName}-sell-info-wrap
  width: 252px
  height: auto
  & > ul
    & > li
      letter-spacing: 2px
      margin-bottom: $gap
      font-size: 14px
      line-height: 28px
      font-weight: lighter
    & > .#{$corpName}-sell-Include-list
      color: $text-dark
    & > .#{$corpName}-sell-Exclude-list
      color: $text-gray
/** COMMON TITLE */
.#{$corpName}-sell-title-position
  position: relative
  top: -45px
  left: 40px
.#{$corpName}-title-divider
  @extend %title-divider
  height: 18px
.#{$corpName}-sell-title
  color: $text-dark
  letter-spacing: 2px
/** PARAGRAPH COMMON STYLE */
.#{$corpName}-sell-notice-position
  width: 95%
  height: auto
  padding: 0 40px
.#{$corpName}-sell-notice-pragraph
  color: $text-gray
  margin-bottom: $gap * 2
  line-height: 28px
  letter-spacing: 2px
  font:
    size: 16px
    weight: 100
/** KNOW IT */
.#{$corpName}-sell-notice-know-it-container
  .#{$corpName}-sell-notice-know-it-contents-container
    & > .#{$corpName}-sell-notice-pragraph
      & > .#{$corpName}-sell-notice-sub-title
        color: $text-dark
        margin-right: $gap
        font:
          size: 16px
          weight: bold
          style: normal
/** Tips */
.#{$corpName}-sell-tips-container
/** TRIP INTRO */
.#{$corpName}-trip-intro-container,
  margin-bottom: 60px
.#{$corpName}-trip-photos-container img
  margin-bottom: 40px
.#{$corpName}-trip-desc-container
  padding: 0 40px
  .#{$corpName}-desc
    line-height: 28px
    color: $text-gray !important
    letter-spacing: 1px
    font:
      size: 16px !important
      weight: lighter
