/** COLOR */
* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  color: #6e6f73;
  font-family: "source han"; }

h3 {
  margin: 0; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

p {
  margin: 0;
  line-height: 20px;
  font-size: 0.875em; }

button {
  cursor: pointer; }

/** HEADER */
header {
  width: 1600px;
  height: 80px;
  border-bottom: 1px solid #ebebeb; }
  header #CYQC-header-child-wrapper {
    width: 950px;
    margin: 0 auto;
    padding-top: 14.5px; }
    header #CYQC-header-child-wrapper > div {
      display: inline-block; }

#CYQC-logo-container {
  width: 54px;
  height: 51px; }

/** NAVIGATION */
#CYQC-g-nav-container {
  float: right;
  margin-top: 10.5px; }
  #CYQC-g-nav-container > ul .CYQC-g-nav-menu {
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 32px;
    margin: 0 10px;
    text-align: center;
    cursor: pointer; }
    #CYQC-g-nav-container > ul .CYQC-g-nav-menu:nth-child(4) {
      color: white;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      background: linear-gradient(-40deg, #f89f63, #f068ab); }
    #CYQC-g-nav-container > ul .CYQC-g-nav-menu:nth-child(5) {
      color: #4a979c; }

/** MAIN CONTENTS */
#CYQC-main-contents-container {
  width: 950px;
  height: auto;
  margin: 0 auto; }
  #CYQC-main-contents-container > .CYQC-splash-0 {
    width: 100%;
    height: 320px; }
  #CYQC-main-contents-container > .CYQC-splash-1 {
    width: 100%;
    height: 200px; }

.CYQC-whatIDo-container {
  width: auto;
  height: 90px;
  letter-spacing: 4px;
  padding-top: 76.66667px; }
  .CYQC-whatIDo-container > div {
    display: inline-block; }
    .CYQC-whatIDo-container > div:nth-child(2) {
      position: relative;
      top: 30px;
      left: -64px; }
    .CYQC-whatIDo-container > div.CYQC-under-line {
      display: block;
      width: 120px;
      height: 4px;
      background: #4a979c;
      position: relative;
      left: 124px; }
    .CYQC-whatIDo-container > div span {
      font-size: 30px; }
      .CYQC-whatIDo-container > div span.CYQC-sup-small-text {
        position: relative;
        top: -30px; }
    .CYQC-whatIDo-container > div .CYQC-emphasis-texts {
      font-style: normal;
      font-size: 48px; }
      .CYQC-whatIDo-container > div .CYQC-emphasis-texts.CYQC-focal-text-coloured {
        color: #4a979c; }
      .CYQC-whatIDo-container > div .CYQC-emphasis-texts.CYQC-has-background {
        color: white;
        position: relative;
        left: -200px; }

.CYQC-focal-text-with-background {
  /** background image's size */
  width: 208px;
  height: 88px;
  position: relative;
  top: 12px; }

/** SEARCH */
.CYQC-img-text {
  /** background image's size */
  display: block;
  width: 151px;
  height: 35px;
  margin-bottom: 20px;
  margin-left: 70px; }

#CYQC-search-title-container {
  width: auto;
  height: auto; }
  #CYQC-search-title-container > span.CYQC-search-title {
    font-size: 30px;
    letter-spacing: 4px; }
  #CYQC-search-title-container > span.CYQC-search-title-en {
    font-size: 24px;
    letter-spacing: 1px;
    word-spacing: 4px; }

/*# sourceMappingURL=home.css.map */
