/** COLOR */
* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  color: #6e6f73;
  font-family: "Source Han Serif CN"; }

a {
  text-decoration: none; }

h3 {
  margin: 0; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

p {
  margin: 0;
  line-height: 20px;
  font-size: 0.875em; }

button {
  cursor: pointer; }

.CYQC-info-text-box > .CYQC-info-text-content > .CYQC-info-title-divider, .CYQC-footer-trip-suggestion > .CYQC-footer-suggestion-position > .CYQC-suggestion-title-container > .CYQC-title-divider {
  margin: 0 5px;
  display: inline-block;
  width: 1px;
  background: #555555; }

/** HEADER */
header {
  width: 1600px;
  height: 80px;
  border-bottom: 1px solid #ebebeb; }
  header #CYQC-header-child-wrapper {
    width: 950px;
    margin: 0 auto;
    padding-top: 14.5px; }
    header #CYQC-header-child-wrapper > div {
      display: inline-block; }

#CYQC-logo-container {
  width: 54px;
  height: 51px; }

/** NAVIGATION */
#CYQC-g-nav-container {
  float: right;
  margin-top: 10.5px; }
  #CYQC-g-nav-container > ul .CYQC-g-nav-menu {
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    margin: 0 10px;
    text-align: center;
    cursor: pointer;
    color: #707070; }
    #CYQC-g-nav-container > ul .CYQC-g-nav-menu:nth-child(4) {
      color: white;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      background: linear-gradient(-40deg, #f89f63, #f068ab); }
    #CYQC-g-nav-container > ul .CYQC-g-nav-menu:nth-child(5) {
      color: #4a979c; }

/** MAIN CONTENTS */
#CYQC-main-contents-container {
  width: 950px;
  height: auto;
  margin: 0 auto; }
  #CYQC-main-contents-container > .CYQC-splash-0 {
    width: 100%;
    height: 320px; }
  #CYQC-main-contents-container > .CYQC-splash-1 {
    width: 100%;
    height: 270px; }
  #CYQC-main-contents-container > .CYQC-splash-2 {
    width: 100%;
    height: auto;
    border-top: 1px solid #ebebeb;
    padding-top: 40px; }

.CYQC-whatIDo-container {
  width: auto;
  height: 90px;
  letter-spacing: 4px;
  padding-top: 76.66667px; }
  .CYQC-whatIDo-container > div {
    display: inline-block; }
    .CYQC-whatIDo-container > div:nth-child(2) {
      position: relative;
      top: 30px;
      left: -64px; }
    .CYQC-whatIDo-container > div.CYQC-under-line {
      display: block;
      width: 120px;
      height: 4px;
      background: #4a979c;
      position: relative;
      left: 165px; }
    .CYQC-whatIDo-container > div span {
      font-size: 30px;
      color: #707070; }
      .CYQC-whatIDo-container > div span.CYQC-sup-small-text {
        position: relative;
        top: -30px; }
    .CYQC-whatIDo-container > div .CYQC-emphasis-texts {
      font-style: normal;
      font-weight: bold;
      font-size: 48px; }
      .CYQC-whatIDo-container > div .CYQC-emphasis-texts.CYQC-focal-text-coloured {
        color: #4a979c; }
      .CYQC-whatIDo-container > div .CYQC-emphasis-texts.CYQC-has-background {
        color: white;
        position: relative;
        left: -200px; }

.CYQC-focal-text-with-background {
  /** background image's size */
  width: 208px;
  height: 88px;
  position: relative;
  top: 12px; }

/** SEARCH */
.CYQC-img-text {
  /** background image's size */
  display: block;
  width: 151px;
  height: 35px;
  margin-bottom: 20px;
  margin-left: 70px; }

#CYQC-search-title-container {
  width: auto;
  height: auto; }
  #CYQC-search-title-container > span {
    color: #707070; }
    #CYQC-search-title-container > span.CYQC-search-title {
      font-size: 30px;
      letter-spacing: 4px; }
    #CYQC-search-title-container > span.CYQC-search-title-en {
      font-size: 24px;
      letter-spacing: 1px;
      word-spacing: 4px; }

/** PRODUCT INTRO */
#CYQC-product-intro-title-container {
  width: auto;
  height: 400px; }
  #CYQC-product-intro-title-container div.CYQC-product-intro-title-top {
    height: 40px; }
  #CYQC-product-intro-title-container div.CYQC-product-intro-title-below {
    margin-left: 40px; }
  #CYQC-product-intro-title-container div.CYQC-product-intro-title-blow-position {
    display: inline-block;
    position: relative;
    top: -110px; }
  #CYQC-product-intro-title-container div > em {
    font-style: normal;
    font-size: 24px;
    margin-right: 5px;
    letter-spacing: 2px; }
    #CYQC-product-intro-title-container div > em.CYQC-intro-title-text {
      color: #707070; }
    #CYQC-product-intro-title-container div > em.CYQC-focal-intro-title-text-coloured {
      color: #4a979c;
      border-bottom: 4px solid #4a979c; }
  #CYQC-product-intro-title-container div > span {
    letter-spacing: 4px; }
  #CYQC-product-intro-title-container div > .CYQC-sub-small-text {
    font-size: 18px;
    color: #707070; }
  #CYQC-product-intro-title-container div > .CYQC-intro-title-product-name {
    font-size: 60px;
    color: white;
    font-weight: bold;
    position: relative;
    top: -88px;
    left: -210px; }
  #CYQC-product-intro-title-container div > .CYQC-intro-title-product-name-background {
    /** background image's size */
    width: 234px;
    height: 150px;
    position: relative;
    left: 12px; }

/** PRODUCT INTRO */
/** 40px: is the indent of element .CYQC-product-intro-title-below */
/** Used to aligh texts within two elements */
.CYQC-product-intro-container {
  width: 100%;
  height: 500px; }
  .CYQC-product-intro-container.info-container-4 > .CYQC-info-text-box {
    position: relative;
    top: -80px; }
  .CYQC-product-intro-container > div {
    display: inline-block;
    width: 49.7%;
    height: auto; }
    .CYQC-product-intro-container > div:nth-child(even) > img, .CYQC-product-intro-container > div:nth-child(even) > div {
      margin-left: 74px; }

.CYQC-info-text-box {
  vertical-align: top; }
  .CYQC-info-text-box .CYQC-info-title-container {
    display: inline-block; }
  .CYQC-info-text-box .CYQC-info-sign-icon-container {
    /** only one usage at the "pick up" section */
    display: inline-block;
    position: relative;
    top: 70px;
    left: 30px; }
    .CYQC-info-text-box .CYQC-info-sign-icon-container > .CYQC-info-sign-icon {
      width: 138px;
      height: 97px; }
  .CYQC-info-text-box .CYQC-info-text-expendable {
    font-size: 16px;
    color: #707070;
    margin-bottom: 10px; }
  .CYQC-info-text-box .CYQC-info-indent-text {
    display: block;
    width: 300px;
    letter-spacing: 2px; }
  .CYQC-info-text-box .CYQC-info-text-colour {
    color: #4a979c;
    font-size: 18px;
    margin-bottom: 10px; }
  .CYQC-info-text-box .CYQC-info-emphasis {
    font-style: normal;
    font-size: 24px;
    font-weight: 500;
    color: #555555; }
    .CYQC-info-text-box .CYQC-info-emphasis.title-cn {
      letter-spacing: 2px; }
  .CYQC-info-text-box > .CYQC-info-text-content {
    margin-bottom: 20px; }
    .CYQC-info-text-box > .CYQC-info-text-content > .CYQC-info-title-divider {
      height: 28px; }
    .CYQC-info-text-box > .CYQC-info-text-content > .CYQC-startTrip-button {
      width: 127px; }
      .CYQC-info-text-box > .CYQC-info-text-content > .CYQC-startTrip-button > .CYQC-startTrip-button-background {
        /** background image size */
        width: 127px;
        height: 37px; }
      .CYQC-info-text-box > .CYQC-info-text-content > .CYQC-startTrip-button > .CYQC-text-on-button {
        color: white;
        letter-spacing: 2px;
        position: relative;
        left: 20px;
        top: -36px; }

.CYQC-info-views-box > .CYQC-intro-graphic {
  width: 400px;
  height: 300px; }

/** FOOTER */
#CYQC-footer {
  width: 950px;
  height: 220px;
  margin: 0 auto;
  border-top: 1px solid #ebebeb;
  padding-top: 40px; }

.CYQC-footer-trip-suggestion {
  width: 33%;
  height: 100%;
  display: inline-block;
  vertical-align: top; }
  .CYQC-footer-trip-suggestion > .CYQC-footer-suggestion-position {
    width: 80%;
    height: 100%; }
    .CYQC-footer-trip-suggestion > .CYQC-footer-suggestion-position > .CYQC-suggestion-title-container {
      margin-bottom: 10px;
      padding-left: 10px; }
      .CYQC-footer-trip-suggestion > .CYQC-footer-suggestion-position > .CYQC-suggestion-title-container > .CYQC-suggeststion-title {
        color: #555555;
        letter-spacing: 2px;
        font-size: 18px;
        font-weight: 500; }
      .CYQC-footer-trip-suggestion > .CYQC-footer-suggestion-position > .CYQC-suggestion-title-container > .CYQC-title-divider {
        height: 20px; }
    .CYQC-footer-trip-suggestion > .CYQC-footer-suggestion-position > .CYQC-suggestions-list-container {
      border-left: 1px solid #ebebeb;
      padding-left: 10px;
      height: 100%; }
      .CYQC-footer-trip-suggestion > .CYQC-footer-suggestion-position > .CYQC-suggestions-list-container > .CYQC-suggestions-text-link {
        display: inline-block;
        color: #707070;
        min-width: 50px;
        margin-right: 10px;
        height: 35px;
        line-height: 35px; }

/*# sourceMappingURL=home.css.map */
